@import url(../../styles/global.css);
.user-infos h5 {
  color: #303133;
}
.user-infos p {
  color: #0b0c0d;
}
button {
  color: rgba(0, 0, 0, 0.38) !important;
}

.projects-area h4 {
  color: #0b0c0d;
}

@media only screen and (min-width: 300px) and (max-width: 640px) {
  .user-container {
    flex-direction: column;
    padding-top: 56px;
  }

  .user-infos p {
    margin: 8px 0px;
  }

  .user-infos h5 {
    margin: 0;
  }
  .projects-area-top {
    width: 90vw;
  }
}
